.advantages {
  padding: 65px 0 10px 0;
  &__head {
    display: flex;
    align-items: center;
    margin-bottom: 90px;
  }
  &__title {
    margin: 0;
  }
  &__sub-title {
    padding: 10px 0;
    padding-left: 70px;
    margin-left: 70px;
    border-left: 1px solid #c5c5c5;
  }
}

.advantages-block {
  width: 33.33%;
  padding-bottom: 55px;
  &__image {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    background-color: #f5f5f5;
    border-radius: 100%;
    img {
      display: block;
      position: absolute;
      height: 55%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      box-shadow: 0px 0px 40px 5px rgba(0,0,0,1);
    }
  }
  &__container {
    padding: 60px 60px 40px 60px;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    position: relative;
    height: 100%;
  }
  &__title {
    font-weight: 700;
    margin-bottom: 12px;
    font-size: 18px;
  }
  &__text {
    margin: 0;
    font-size: 16px;
  }
}

@media all and(max-width: 992px) {
  .advantages-block__container {
    padding: 50px 30px 40px 30px;
  }
}
@media all and(max-width: 768px) {
  .advantages-block {
    width: 50%;
  }
  .advantages__sub-title {
    padding-left: 40px;
    margin-left: 40px;
  }
}
@media all and(max-width: 576px) {
  .advantages-block {
    width: 100%;
  }
  .advantages__head {
    display: block;
  }
  .advantages__sub-title {
    display: block;
  }
  .advantages__sub-title {
    margin: 20px 0 0 0;
    padding: 20px 0 0 0;
    border-left: 0;
    display: block;
    position: relative;
    &:before {
      content: '';
      display: block;
      width: 150px;
      height: 1px;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #c5c5c5;
    }
  }
  .advantages__head {
    margin-bottom: 70px;
  }
}