.home {
  background-color: #e8eff6;
  &__slider-nav {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
  }
}
@media all and(max-width: 576px) {
  .home .slider {
    margin: 0 -15px;
  }
  .home .banner-slide {
    padding: 0 15px;
  }
  .home__slider-nav {
    right: 15px;
  }
}