mixin article(title)
  .article-preview  
    .article-preview__container
      a(href="#").article-preview__image
        img(data-src="img/bg-2.png", alt="").lazy
      .article-preview__content
        a(href="#").article-preview__title=title
        p IP-телефония комплексно вытесняет аналоговую связь в любой сфере деятельности. Малый, средний и крупный бизнес ...
        .article-preview__info
          a(href="#").article-preview__more
            span Читать полностью
            i.fas.fa-angle-right
          span.article-preview__date Размещено:  2019-05-13  19:17:12     
