section.solutions
  .container
    .solutions__background.lazy(data-src='img/banner/image2.png')
    .banner-slide
      .banner-slide__container
        .banner-slide__content
          .category-item Интернет-телефония
          h2.banner-slide__title Комплексные решения
          p.banner-slide__text Помощь малому и среднему бизнесу по внедрению<br> современной корпоративной телефонии: городской номер,<br> автоответчик, голосовое меню, записи вызовов...
        form(action="").number-form
          .number-form__content
            .number-form__group
              .phone-input
                span +7
                input(type="text" placeholder="Ваш номер телефона" required).input.input_phone
            .number-form__group
              button.btn.btn_style2
                i.fas.fa-cart-plus
                | Получить консультацию