section.service-head
  .container
    .service-head__container.row
      .service-head__section.col
        .breadcrumbs
          ul.breadcrumbs__list
            li.breadcrumbs__item
              a(href="#").breadcrumbs__link Главная
            li.breadcrumbs__item Виртуальный номер
        h1.service-head__title Виртуальный номер
      .service-head__background.lazy(data-src='img/bg-head.png')
      .service-head__section.col
        a(href="#").btn.btn_style4
          i.fas.fa-cart-plus
          | Заказать
