.home
  .container
    .slider
      .slider-nav.home__slider-nav
        button.slider-button.slider-button_prev
          i.fas.fa-angle-left
        button.slider-button.slider-button_next
          i.fas.fa-angle-right
      .banner
        .banner-slide
          .banner-slide__background.lazy(data-src='img/banner/image1.png')
          .banner-slide__container
            .banner-slide__content
              .category-item IP-телефония
              h2.banner-slide__title Низкие тарифы на межгород -<br> значительная экономия на звонках
              p.banner-slide__text Платите меньше, общайтесь больше<br> всего 1.69 ₽ на все мобильные России!
            a(href="#").btn Узнать больше
        .banner-slide
          .banner-slide__background.lazy(data-src='img/banner/image1.png')
          .banner-slide__container
            .banner-slide__content
              .category-item IP-телефония
              h2.banner-slide__title Низкие тарифы на межгород -<br> значительная экономия на звонках<br> дополнительный ряд
              p.banner-slide__text Платите меньше, общайтесь больше<br> всего 1.69 ₽ на все мобильные России!
            a(href="#").btn Узнать больше
