.home
  .container
    .slider
      .slider-nav.home__slider-nav
        button.slider-button.slider-button_prev
          i.fas.fa-angle-left
        button.slider-button.slider-button_next
          i.fas.fa-angle-right
      .home-slider
        .home-slide
          .home-slide__background.lazy(data-src='img/banner/image1.png')
          .home-slide__container
            .home-slide__content
              .category-item IP-телефония
              h2.home-slide__title Низкие тарифы на межгород -<br> значительная экономия на звонках
              p.home-slide__text Платите меньше, общайтесь больше<br> всего 1.69 ₽ на все мобильные России!
            a(href="#").btn Узнать больше
        .home-slide
          .home-slide__background.lazy(data-src='img/banner/image1.png')
          .home-slide__container
            .home-slide__content
              .home-slide__category IP-телефония
              h2.home-slide__title Низкие тарифы на межгород -<br> значительная экономия на звонках<br> дополнительный ряд
              p.home-slide__text Платите меньше, общайтесь больше<br> всего 1.69 ₽ на все мобильные России!
            a(href="#").btn Узнать больше
