section.info
  .info__container
    .info__description
      .container
        h4 Что такое виртуальный номер?
        p Виртуальный номер телефона — это комплексная услуга в сфере телефонии, которая предполагает присвоение компании корпоративного городского номера. При этом аренда виртуального номера не требует подключения оборудования самой организации. Личный виртуальный номер может соответствовать любому городу России.
        p Например, вашему офису нужен московский городской номер, но центральный офис может находиться в Новосибирске. При совершении звонков со стороны абонентов, пользователи будут направлены напрямую или через голосовое меню на нужный отдел вашего офиса без задержек.
    .info__advantages
      .container
        .info__advantages-head
          .info__advantages-background.lazy(data-src='img/bg-2.png')
          h4 Преимущества<br> виртуального номера
          p.footnote Виртуальный телефонный номер не требует приобретения его у оператора<br> и постоянной поддержки со стороны специалистов. А при необходимости<br> его можно отключить в любой момент.
        .benefits
          .benefits__container.row
            .benefits__block.col
              .benefits__block-container
                .benefits__block-content
                  p <strong>Недорогие звонки</strong> на междугороднюю связь - экономия благодаря выгодным тарифам и посекундной тарификациис сохранением высокого качества голосовой связи. Скидки за объем. Всего 1.69 рублей за минуту на все мобильные России.
            .benefits__block.col
              .benefits__block-container
                .benefits__block-content
                  p <strong>Софтфон</strong> - современный и удобный сервис автоматического обзвона абонентов по Вашей телефонной базе. Всего 20 копеек за номер.
            .benefits__block.col
              .benefits__block-container
                .benefits__block-content
                  p <strong>Абонетское обслуживание</strong> Ваших серверов по договору - доверьтесь профессионалам! Всего 50 рублей за один внутренний добавочный номер в месяц.
            .benefits__block.col
              .benefits__block-container
                .benefits__block-content
                  p <strong>Виртуальная АТС</strong> - бесплатно для корпоративных клиентов. В ней есть все, что необходимо Вашему бизнесу для организации современной телефонной связи в офисе. Быстрое подключение городского номера для входящих. Понятный интерфейс на русском языке.
        p После того, как виртуальный мобильный номер или городской номер были подключены, можно самостоятельно подобрать структуру переадресации. Например, направлять звонящего можно на заранее заданный номер конкретного офиса или на свободного оператора, линия которого на момент звонка не занята. Сервис виртуальных номеров позволяет проводить настройку переадресации самостоятельно при изменении каких-либо параметров или условий связи.
    .price
      h4.price__title Стоимость услуг
      .container
        table.table-price
          tr.table-price__head
            th 
              span Входящие городские номера
            th 
              span Единовременный платеж<br> за подключение
            th 
              span Ежемесячный платеж<br> (абонентская плата)
          tr.table-price__block
            td(data-label='Входящие городские номера') 
              span Московский городской номер в коде 499
            td(data-label='Единовременный платеж за подключение') 
              span 299 руб
            td(data-label='Ежемесячный платеж (абонентская плата)') 
              span 499 руб
          tr.table-price__block
            td(data-label='Входящие городские номера')
              span Московский городской номер в коде 495
            td(data-label='Единовременный платеж за подключение')  
              span 599 руб
            td(data-label='Ежемесячный платеж (абонентская плата)') 
              span 499 руб
          tr.table-price__block
            td(data-label='Входящие городские номера') 
              span Городской номер г.Санкт-Петербург
            td(data-label='Единовременный платеж за подключение')  
              span 599 руб
            td(data-label='Ежемесячный платеж (абонентская плата)') 
              span 499 руб
        p.footnote.footnote_green Стоимость городских номеров других<br> городов России предоставляется по запросу