section.opportunities-section
  .container
    .opportunities-section__container
      h4.opportunities-section__title Лучшие возможности<br> IP-телефонии специально для Вас
      ul.opportunities-section__list
        li.opportunities-section__item
          a(href="#").btn.btn_style3 IP-телефония
            i.fas.fa-angle-right
        li.opportunities-section__item
          a(href="#").btn.btn_style3 Софтфон
            i.fas.fa-angle-right
        li.opportunities-section__item
          a(href="#").btn.btn_style3 Виртуальная АТС
            i.fas.fa-angle-right
        li.opportunities-section__item
          a(href="#").btn.btn_style3 Поддержка Asterisk
            i.fas.fa-angle-right
      .benefits
        .benefits__container.row
          .benefits__block.col
            .benefits__block-container
              .benefits__block-content
                p Возможность привязать контакт не к конкретному оборудованию, офису или телефону, а к самой организации (это позволит переезжать из помещения в помещение с сохранением телефонии).
          .benefits__block.col
            .benefits__block-container
              .benefits__block-content
                p Подключение виртуального номера позволит равномерно распределять нагрузку на контактный центр, независимо от расположения операторов и их удаленности.
          .benefits__block.col
            .benefits__block-container
              .benefits__block-content
                p Возможность указывать в рекламе один номер для всех офисов и подразделений (включая офисы в разных городах).
          .benefits__block.col
            .benefits__block-container
              .benefits__block-content
                p Временный номер телефона может иметь код города, который заказчик выбирает самостоятельно (актуально для офисов, расположенных в удаленных частях страны);