section.opportunities
  .container
    .opportunities__container
      h3.title.opportunities__title Лучшие возможности<br> IP-телефонии специально для Вас
      ul.opportunities__list
        li.opportunities__item
          a(href="#").btn.btn_style3 IP-телефония
            i.fas.fa-angle-right
        li.opportunities__item
          a(href="#").btn.btn_style3 Софтфон
            i.fas.fa-angle-right
        li.opportunities__item
          a(href="#").btn.btn_style3 Виртуальная АТС
            i.fas.fa-angle-right
        li.opportunities__item
          a(href="#").btn.btn_style3 Поддержка Asterisk
            i.fas.fa-angle-right
      .opportunities__content.row
        .opportunities__section.col
          .opportunities-block
            .opportunities-block__container.opportunities-block__container_1
              .opportunities-block__content
                p <strong>Недорогие звонки</strong> на междугороднюю связь - экономия благодаря выгодным тарифам и посекундной тарификациис сохранением высокого качества голосовой связи. Скидки за объем. Всего 1.69 рублей за минуту на все мобильные России.
          .opportunities-block
            .opportunities-block__container.opportunities-block__container_2
              .opportunities-block__content
                p <strong>Софтфон</strong> - современный и удобный сервис автоматического обзвона абонентов по Вашей телефонной базе. Всего 20 копеек за номер.
        .opportunities__section.col
          .opportunities-block
            .opportunities-block__container.opportunities-block__container_2
              .opportunities-block__content
                p <strong>Абонетское обслуживание</strong> Ваших серверов по договору - доверьтесь профессионалам! Всего 50 рублей за один внутренний добавочный номер в месяц.
          .opportunities-block
            .opportunities-block__container.opportunities-block__container_1
              .opportunities-block__content
                p <strong>Виртуальная АТС</strong> - бесплатно для корпоративных клиентов. В ней есть все, что необходимо Вашему бизнесу для организации современной телефонной связи в офисе. Быстрое подключение городского номера для входящих. Понятный интерфейс на русском языке.