section.reviews.slider
  .container
    .reviews__head
      .reviews__head-left
        h3.reviews__title Отзывы клиентов
        a(href="#").reviews__add-link + 
          span Добавить свой отзыв
      .slider-nav.reviews__slider-nav
        button.slider-button.slider-button_prev
          i.fas.fa-angle-left
        button.slider-button.slider-button_next
          i.fas.fa-angle-right
    .reviews__slider
      .reviews-slide
        .reviews-slide__container
          .reviews-slide__image
            img(data-src="img/photo.png", alt="").lazy
          .reviews-slide__content
            .reviews-slide__title Алексей Степановский
            .reviews-slide__text У нас был установлен предыдыущим админом какой-то
              | астериск, все в принципе работало, пока не навернулось и
              | текущий админ не мог ничего с этим поделать, только
              | обращение в сипмастер спасло ситуацию, решили вопрос
              | быстро и удаленно. Думаем подписаться на абонентское
              | обслуживание.<br><br>
              | Спасибо за скоросить.
      .reviews-slide
        .reviews-slide__container
          .reviews-slide__image
            img(data-src="img/photo2.png", alt="").lazy
          .reviews-slide__content
            .reviews-slide__title Алексей Степановский
            .reviews-slide__text Я системный администратор и нашей компании требовались
              | функции телефонии, которые я не знаю как настроить на
              | нашем астриск-сервере. Уговорил боса подписаться на
              | абонентское обслуживание от сипмастер и теперь живем,
              | горя не знаем.<br><br>
              | Дешево и сердито, все работает - все довольны!
      .reviews-slide
        .reviews-slide__container
          .reviews-slide__image
            img(data-src="img/photo.png", alt="").lazy
          .reviews-slide__content
            .reviews-slide__title Алексей Степановский
            .reviews-slide__text У нас был установлен предыдыущим админом какой-то
              | астериск, все в принципе работало, пока не навернулось и
              | текущий админ не мог ничего с этим поделать, только
              | обращение в сипмастер спасло ситуацию, решили вопрос
              | быстро и удаленно. Думаем подписаться на абонентское
              | обслуживание.<br><br>
              | Спасибо за скоросить.
